<div class="wrapper">
    <div class="graphics">
        <div class="tower"></div>
    </div>
    <header>
        <nav class="website-nav">
            <ul>
                <li><a class="home-link" href="https://aws.amazon.com/">Home</a></li>
            </ul>
        </nav>
    </header>
</div>
<footer>
    <p class="footer-contents">Designed and developed with</p>
</footer>
<script src="application.js"></script>